{% extends "main/base.html" %}
{% load static %}

{% block title %}Associar Chamadas{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
        </div>
    </div>

    <div class="codigo">
        <h1>Associar Equipamento com Chamadas</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Cadastrar</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#id_chamadas').select2();
        });

        $(document).ready(function() {
            $('#id_chamadas').attr('disabled', true); // Desabilita o campo Ativo inicialmente

            $('#id_ativos').change(function() {
                var ativoId = $(this).val();

                $.ajax({
                    url: '{% url "get_chamadas_disponiveis" %}',
                    data: {
                        'ativo_id': ativoId
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_chamadas').empty(); // Limpa as opções existentes

                        $.each(data.chamadas, function(index, chamada) {
                            $('#id_chamadas').append('<option value="' + chamada.id + '">' + 'Chamada ' + chamada.id + ' - ' + chamada.status + '</option>');
                        });

                        $('#id_chamadas').attr('disabled', false); // Habilita o campo Ativo
                    }
                });
            });
        });
    </script>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}