{% extends "main/base.html" %}
{% load static %}

{% block title %}Associar Equipamentos{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
        </div>
    </div>

    <div class="codigo">
        <h1>Associar Equipamentos com Chamada</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Cadastrar</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#id_ativo').select2();
        });

        $(document).ready(function() {
            $('#id_ativo').attr('disabled', true); // Desabilita o campo Ativo inicialmente

            $('#id_chamada').change(function() {
                var chamadaId = $(this).val();

                $.ajax({
                    url: '{% url "get_ativos_disponiveis" %}',
                    data: {
                        'chamada_id': chamadaId
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#id_ativo').empty(); // Limpa as opções existentes

                        $.each(data.ativos, function(index, ativo) {
                            $('#id_ativo').append('<option value="' + ativo.id + '">' + ativo.nome + '</option>');
                        });

                        $('#id_ativo').attr('disabled', false); // Habilita o campo Ativo
                    }
                });
            });
        });
    </script>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}