{% extends "main/base.html" %}
{% load static %}

{% block title %}Associar Equipamentos{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
        </div>
    </div>

    <div style="display: none" id="chamada_atual">{{ chamada_id }}</div>

    <div class="codigo">
        <h1>Associar Equipamentos com Chamada</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Cadastrar</button>
    </form>

    <script>
        $(document).ready(function() {
            $('#id_ativo').select2();
        });

        $(document).ready(function() {
            // Obtém o ID da chamada atualmente selecionada
            var chamadaId = document.getElementById("chamada_atual").innerText

            // Função para atualizar os ativos com base na chamada selecionada
            function updateAtivos() {
                $.ajax({
                    url: '{% url "get_ativos_disponiveis" %}',
                    data: {
                        'chamada_id': chamadaId
                    },
                    dataType: 'json',
                    success: function(data) {
                        var ativosSelect = $('#id_ativo');
                        ativosSelect.empty();
                        $.each(data.ativos, function(index, ativo) {
                            ativosSelect.append('<option value="' + ativo.id + '">' + ativo.nome + '</option>');
                        });
                    }
                });
            }
            updateAtivos();
        });
    </script>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}