{% extends "main/base.html" %}
{% load static %}

{% block title %}Business Intelligence{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    <a class="btn-inicio" href="{% url 'index' %}">Início</a>
    <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
    <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    <h1 class="title" style="margin-top: 15px; margin-bottom: 20px">Business Intelligence</h1>
    <a class="btn-export" href="{% url 'pagina_chamadas_por_equipamento' %}">Chamadas por Equipamento</a>
    <a class="btn-export" href="{% url 'chamadas_por_sala' %}">Chamadas por Sala</a>
    <a class="btn-export" href="{% url 'chamadas_por_data' %}">Chamadas por Data</a>
    <a class="btn-export" href="{% url 'associacao_equipamento_chamada_chart' %}">Chamadas Associadas por Equipamento</a>
    <a class="btn-export" href="{% url 'equipamentos_associados_por_chamada_chart' %}">Equipamentos Associados por Chamada</a>
    <a class="btn-export" href="{% url 'pagina_manutencoes_por_equipamento' %}">Manutenções por Equipamento</a>
    <a class="btn-export" href="{% url 'valores_estimados' %}">Valores dos Equipamentos</a>
    <a class="btn-export" href="{% url 'situacao' %}">Situação dos Equipamentos</a>
    <a class="btn-export" href="{% url 'tipo' %}">Equipamentos por Tipo</a>
    <a class="btn-export" href="{% url 'marca' %}">Equipamentos por Marca</a>
    <a class="btn-export" href="{% url 'prioridade' %}">Prioridades de Chamadas</a>
    <a class="btn-export" href="{% url 'status' %}">Status das Chamadas</a>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}