{% extends "main/base.html" %}
{% load static %}

{% block title %}Chamadas por Data{% endblock %}

{% block content %}
<h1 class="title">Número de Chamadas por Data</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>
        
<canvas id="situacaoChart"></canvas>

<script>
    var ctx = document.getElementById('situacaoChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ labels | safe }},
            datasets: [{
                label: 'Número de Chamadas por Data',
                data: {{ valores | safe }},
                backgroundColor: 'rgba(47, 179, 4, 0.6)',
                borderColor: 'rgba(47, 179, 4, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                x: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 18,
                        }
                    }
                },
                y: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 18 // Ajusta o tamanho do texto do eixo Y
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}