{% extends "main/base.html" %}
{% load static %}

{% block title %}Gráfico de Chamadas Associadas por Equipamento{% endblock %}

{% block content %}
<h1 class="title">Gráfico de Chamadas Associadas por Equipamento</h1>

<canvas id="associacaoEquipamentoChamadaChart" width="400" height="150"></canvas>

<script>
    var ctx = document.getElementById('associacaoEquipamentoChamadaChart').getContext('2d');
    var data = {
        labels: {{ labels|safe }},
        datasets: [{
            label: 'Quantidade de Associações',
            data: {{ counts|safe }},
            backgroundColor: 'rgba(75, 192, 192, 0.7)', // Cor de preenchimento
            borderColor: 'rgba(75, 192, 192, 1)',        // Cor da borda
            borderWidth: 1
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            plugins: {
                legend: {
                    display: false // Para remover a legenda
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Quantidade de Associações',
                        font: {
                            size: 20,
                            family:'arial'
                        }
                    },
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 16,
                        }
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Equipamentos',
                        font: {
                            size: 20,
                            family:'arial'
                        }
                    },
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 16,
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}