{% extends "main/base.html" %}
{% load static %}

{% block title %}Gráfico de Tipo{% endblock %}

{% block content %}
<h1 class="title">Gráfico de Tipo</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>
        
<canvas id="situacaoChart" width="400" height="150"></canvas>

<script>
    var ctx = document.getElementById('situacaoChart').getContext('2d');
    var data = {
        labels: [{% for data_point in tipo_data %}"{{ data_point.label }}", {% endfor %}],
        datasets: [{
            label: 'Quantidade ',
            data: [{% for data_point in tipo_data %}{{ data_point.count }}, {% endfor %}],
            backgroundColor: [
                'rgba(4, 12, 82, 0.7)', // Cor para 'Funcionando'
            ],
            borderColor: [
                'rgba(4, 12, 82, 1)',    
            ],
            borderWidth: 1
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                legend: {
                    display: false // Para remover a legenda
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 25,
                        }
                    }
                },
                y: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 20 // Ajusta o tamanho do texto do eixo Y
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}