{% extends "main/base.html" %}
{% load static %}

{% block title %}Valores Estimados{% endblock %}

{% block content %}
<h1 class="title">Distribuição de Valores Estimados</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>

<canvas id="situacaoChart"></canvas>

<script>
    var ctx = document.getElementById('situacaoChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ bins }},
            datasets: [{
                label: 'Frequência',
                data: {{ frequencia }},
                backgroundColor: 'rgba(22, 110, 85, 0.7)',
                borderColor: 'rgba(22, 110, 85, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                x: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 25,
                        }
                    }
                },
                y: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 20 // Ajusta o tamanho do texto do eixo Y
                        }
                    }
                }
            }
        }
    });
</script>   
{% endblock %}