{% extends "main/base.html" %}
{% load static %}

{% block title %}Número de Chamadas por Equipamento{% endblock %}

{% block content %}
<h1 class="title">Número de Chamadas por Equipamento</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>

<canvas id="chamadasPorEquipamentoChart"></canvas>

<script>
    // Faça uma solicitação AJAX para obter os dados do endpoint de API
    fetch('/chamadas_por_equipamento/')
        .then(response => response.json())
        .then(data => {
            // Extrai os dados para os rótulos e valores do gráfico
            const labels = data.map(item => item.nome);
            const valores = data.map(item => item.numero_chamadas);

            // Cria o gráfico com Chart.js
            var ctx = document.getElementById('chamadasPorEquipamentoChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Número de Chamadas por Equipamento',
                        data: valores,
                        backgroundColor: 'rgba(83, 64, 135, 0.75)',
                        borderColor: 'rgba(27, 7, 82, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false // Para remover a legenda
                        }
                    },
                    indexAxis: 'y',
                    scales: {
                        x: {
                            ticks: {
                                color: '#273E74',
                                font: {
                                    size: 16,
                                }
                            }
                        },
                        y: {
                            ticks: {
                                color: '#273E74',
                                font: {
                                    size: 16 // Ajusta o tamanho do texto do eixo Y
                                }
                            }
                        }
                    },
                }
            });
        });
</script>
{% endblock %}