{% extends "main/base.html" %}
{% load static %}

{% block title %}Gráfico de Status{% endblock %}

{% block content %}
<h1 class="title">Gráfico de Status</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>

<div class="graphic">
    <canvas id="statusChart" width="350" height="350"></canvas>
</div>

<script>
    var ctx = document.getElementById('statusChart').getContext('2d');
    var data = {
        labels: [{% for data_point in status_data %}"{{ data_point.label }}", {% endfor %}],
        datasets: [{
            label: 'Quantidade ',
            data: [{% for data_point in status_data %}{{ data_point.count }}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(255, 205, 86, 0.7)',
                'rgba(75, 192, 192, 0.7)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            scales: {
                x: {
                    display: false
                },
                y: {
                    display: false
                }
            }
        }
    });
</script>
{% endblock %}