{% extends "main/base.html" %}
{% load static %}

{% block title %}Equipamentos Associados por Chamada{% endblock %}

{% block content %}
<h1 class="title">Equipamentos Associados por Chamada</h1>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    </div>
</div>

<canvas id="equipamentosPorChamadaChart" width="800" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('equipamentosPorChamadaChart').getContext('2d');
    var data = {
        labels: [{% for label in labels %}"{{ label }}", {% endfor %}],
        datasets: [{
            label: 'Equipamentos Associados',
            data: [{% for count in counts %}{{ count }}, {% endfor %}],
            backgroundColor: 'rgba(104, 140, 31, 0.7)',
            borderColor: 'rgba(104, 140, 31, 1)',
            borderWidth: 1
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            indexAxis: 'y',
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 12,
                        }
                    }
                },
                y: {
                    ticks: {
                        color: '#273E74',
                        font: {
                            size: 12
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock %}