{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ ativo.nome }}{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items menu-center">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
            <a class="btn-inicio" id="openModalBtn">Abrir Chamado</a>
            <a class="btn-inicio" href="{% url 'editar_ativo' codigo=ativo.codigo %}">Editar</a>
            <a class="btn-inicio" id="deleteModalBtn">Remover</a>
            <a class="btn-inicio" href="{% url 'associar_chamadas_ativo' ativo_id=ativo.id %}">Associar</a>
            <a class="btn-inicio" href="{% url 'exportar_qrcode_para_pdf' ativo_id=ativo.id %}">Exportar QR Code</a>
        </div>
    </div>

    {% if chamada_form.errors %}
        <ul class="error">
            {% for field in chamada_form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="codigo">
        <h1>Código: {{ ativo.codigo }}</h1>
    </div>
    <img style="margin-top: 16px;" src="data:image/png;base64,{{ qr_code }}" alt="QR Code para Detalhes do Ativo">
    <div class="ativo-imagem">
        <img src="{{ ativo.foto }}" alt="{{ ativo.nome }}">
    </div>
    <div class="item"><b>Nome:</b> {{ ativo.nome }}</div>
    <div class="item"><b>Tipo:</b> {{ ativo.tipo }}</div>
    <div class="item"><b>Marca:</b> {{ ativo.marca }}</div>
    {% if ativo.especificacoes != '' %}
        <div class="item"><b>Especificações:</b> {{ ativo.especificacoes|linebreaks }}</div>
    {% else %}
        <div class="item"><b>Especificações:</b> Não informado</div>
    {% endif %}
    <div class="item"><b>Número de Série:</b> {{ ativo.numero_serie }}</div>
    {% if ativo.data_aquisicao is not None %}
        <div class="item"><b>Data de Aquisição:</b> {{ ativo.data_aquisicao|date:"d-m-Y" }}</div>
    {% else %}
        <div class="item"><b>Data de Aquisição:</b> Não informado.</div>
    {% endif %}
    <div class="item {{ ativo.situacao }}"><b>Situação:</b> {{ ativo.situacao }}</div>
    {% if ativo.valor_estimado is not None %}
        <div class="item"><b>O valor estimado é:</b> R$ {{ ativo.valor_estimado }}</div>
    {% else %}
        <div class="item"><b>O valor estimado não foi fornecido.</b></div>
    {% endif %}

    {% if total_chamadas > 0 %}
        <h2 class="subtitle" style="margin: 10px 0px">Chamadas ({{ total_chamadas }})</h2>
    {% else %}
    {% endif %}

    {% for chamada in chamadas %}
        <hr>
        <a class="btn-inicio" href="{% url 'editar_chamada' id=chamada.id %}">Editar</a>
        <a type="button" id="excluir-chamada" class="btn-inicio" data-chamada-id="{{ chamada.id }}" data-ativo-id="{{ ativo.codigo }}">
            Excluir
        </a>
        <div class="item" style="margin-top: 15px"><b>Código:</b> <a href="{% url 'chamada_detail' id=chamada.id %}">{{ chamada.id }}</a></div>
        <div class="item"><b>Sala Origem:</b> {{ chamada.sala_origem }}</div>
        <div class="item"><b>Problema:</b> {{ chamada.descricao_problema }}</div>
        <div class="item {{ chamada.status }}"><b>Status:</b> {{ chamada.status }}</div>
        <div class="item {{ chamada.prioridade }}"><b>Prioridade:</b> {{ chamada.prioridade }}</div>
        <div class="item"><b>Data Abertura:</b> {{ chamada.data_abertura }}</div>
        {% if chamada.data_resolucao is not None %}
            <div class="item"><b>Data Resolução:</b> {{ chamada.data_resolucao }}</div>
        {% else %}
        {% endif %}
        <div class="item"><b>Responsável:</b> {{ chamada.responsavel }}</div>
        <div class="item"><b>Categoria Problema:</b> {{ chamada.categoria_problema }}</div>
        {% if chamada.custo_reparo is not None %}
            <div class="item"><b>Custo Reparo:</b> R$ {{ chamada.custo_reparo }}</div>
        {% else %}
            <div class="item"><b>Necessário analisar o custo de reparo.</b></div>
        {% endif %}
    {% endfor %}

    {% if total_chamadas > 5 %}
        <div class="pagination">
            {% if chamadas.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ chamadas.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in chamadas.paginator.page_range %}
                {% if chamadas.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if chamadas.has_next %}
                <a href="?page={{ chamadas.next_page_number }}">Próxima</a>
                <a href="?page={{ chamadas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
    {% else %}
    {% endif %}

    {% if total_chamadas_associadas > 0 %}
        <h2 class="subtitle" style="margin: 10px 0px">Chamadas Associadas ({{ total_chamadas_associadas }})</h2>
    {% else %}
    {% endif %}

    {% for chamada in chamadas_associadas %}
        <hr>
        <a class="btn-inicio" href="{% url 'editar_chamada' id=chamada.chamada.id %}">Editar</a>
        <a type="button" id="excluir-chamada" class="btn-inicio" data-chamada-id="{{ chamada.chamada.id }}" data-ativo-id="{{ ativo.codigo }}">
            Excluir
        </a>
        <a type="button" class="btn-inicio" href="{% url 'desassociar_ativo_chamada' chamada_id=chamada.chamada.id ativo_id=ativo.id %}">Remover Associação</a>
        <div class="item" style="margin-top: 15px"><b>Código:</b> <a href="{% url 'chamada_detail' id=chamada.chamada.id %}">{{ chamada.chamada.id }}</a></div>
        <div class="item"><b>Sala Origem:</b> {{ chamada.chamada.sala_origem }}</div>
        <div class="item"><b>Problema:</b> {{ chamada.chamada.descricao_problema }}</div>
        <div class="item {{ chamada.chamada.status }}"><b>Status:</b> {{ chamada.chamada.status }}</div>
        <div class="item {{ chamada.chamada.prioridade }}"><b>Prioridade:</b> {{ chamada.chamada.prioridade }}</div>
        <div class="item"><b>Data Abertura:</b> {{ chamada.chamada.data_abertura }}</div>
        {% if chamada.chamada.data_resolucao is not None %}
            <div class="item"><b>Data Resolução:</b> {{ chamada.chamada.data_resolucao }}</div>
        {% else %}
        {% endif %}
        <div class="item"><b>Responsável:</b> {{ chamada.chamada.responsavel }}</div>
        <div class="item"><b>Categoria Problema:</b> {{ chamada.chamada.categoria_problema }}</div>
        {% if chamada.chamada.custo_reparo is not None %}
            <div class="item"><b>Custo Reparo:</b> R$ {{ chamada.chamada.custo_reparo }}</div>
        {% else %}
            <div class="item"><b>Necessário analisar o custo de reparo.</b></div>
        {% endif %}
    {% endfor %}

    {% if total_chamadas_associadas > 5 %}
        <div class="pagination">
            {% if chamadas_associadas.has_previous %}
                <a href="?page_associados=1">&laquo; Primeira</a>
                <a href="?page_associados={{ chamadas_associadas.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in chamadas_associadas.paginator.page_range %}
                {% if chamadas_associadas.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page_associados={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if chamadas_associadas.has_next %}
                <a href="?page_associados={{ chamadas_associadas.next_page_number }}">Próxima</a>
                <a href="?pagpage_associadose={{ chamadas_associadas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
    {% else %}
    {% endif %}

    <!-- Tabela de Manutenção TI -->
    <h2 class="subtitle" style="margin-top: 15px; margin-bottom: 0px">Tabela de Manutenções</h2>
    <table id="tabelaManutencao">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Data Início</th>
                <th>Data Conclusão</th>
                <th>Custo</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>
        {% for manutencao in manutencoes %}
            <tr>
                <td>{{ manutencao.descricao }}</td>
                <td>{{ manutencao.data_inicio|date:"d-m-Y" }}</td>
                <td>{{ manutencao.data_conclusao|date:"d-m-Y" }}</td>
                <td>R$ {{ manutencao.custo }}</td>
                <td><a href="{% url 'editar_manutencao' id=manutencao.id codigo=ativo.id %}">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="subtitle" style="margin-top: 15px; margin-bottom: 0px">Cadastrar Manutenção</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in non_field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button class="btn-login" type="submit">Adicionar</button>
    </form>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="subtitle" style="margin-top: 15px; margin-bottom: 0px">Novo Chamado de TI para {{ ativo.nome }}</h2>
        <form id="formAdicionarManutencao" method="POST">
            {% csrf_token %}
            {{ chamada_form.as_p }}
            <button class="btn-login" type="submit">Adicionar</button>
        </form>
      </div>
    </div>

    <div id="myDeleteModal" class="modal">
      <div class="modal-content" style="width: 60%">
        <span class="close2">&times;</span>
        <h3 class="subtitle" style="margin-top: 15px; margin-bottom: 30px">Quer mesmo remover {{ ativo.nome }} ?</h3>
        <a class="btn-login" href="{% url 'remover_ativo' codigo=ativo.codigo %}">Remover</a>
        <p></p>
      </div>
    </div>

    <div id="modalExclusao" class="modal">
        <div class="modal-content">
            <span class="close3">&times;</span>
            <h3 class="subtitle" style="margin-top: 15px; margin-bottom: 30px">Quer mesmo remover a chamada ?</h3>
            <a class="btn-login" id="confirmarExclusao">Remover</a>
            <p></p>
        </div>
    </div>

    <script>
        $(function() {
            $("#id_data_inicio").datepicker({dateFormat: 'dd/mm/yy'});
            $("#id_data_conclusao").datepicker({dateFormat: 'dd/mm/yy'});
        });

        $(document).ready(function() {
            $('#tabelaManutencao').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
                },
            });
        });

        document.getElementById("openModalBtn").onclick = function() {
          document.getElementById("myModal").style.display = "block";
        }

        document.getElementsByClassName("close")[0].onclick = function() {
          document.getElementById("myModal").style.display = "none";
        }

        window.onclick = function(event) {
          if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
          }
          if (event.target == document.getElementById("myDeleteModal")) {
            document.getElementById("myDeleteModal").style.display = "none";
          }
        }

        document.getElementById("deleteModalBtn").onclick = function() {
          document.getElementById("myDeleteModal").style.display = "block";
        }

        document.getElementsByClassName("close2")[0].onclick = function() {
          document.getElementById("myDeleteModal").style.display = "none";
        }

        // Adiciona um event listener para o botão de exclusão
        document.querySelectorAll('#excluir-chamada').forEach(button => {
            button.addEventListener('click', function() {
                const chamadaId = this.getAttribute('data-chamada-id');
                const ativoId = this.getAttribute('data-ativo-id');
                exibirModal(chamadaId, ativoId);
            });
        });

        // Função para exibir o modal de exclusão
        function exibirModal(chamadaId, ativoId) {
            const modal = document.getElementById('modalExclusao');
            // Exiba o modal e passe os IDs como atributos de dados
            modal.style.display = 'block';
            modal.setAttribute('data-chamada-id', chamadaId);
            modal.setAttribute('data-ativo-id', ativoId);
        }

        // Event listener para o botão de confirmar exclusão
        document.getElementById('confirmarExclusao').addEventListener('click', function() {
            const chamadaId = document.getElementById('modalExclusao').getAttribute('data-chamada-id');
            const ativoId = document.getElementById('modalExclusao').getAttribute('data-ativo-id');
            // Redirecione para a view de exclusão com os IDs necessários
            window.location.href = `/remover_chamada/${chamadaId}/${ativoId}`;
        });

        window.addEventListener('click', function(event) {
            const modal = document.getElementById('modalExclusao');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        document.querySelector('.close3').addEventListener('click', function() {
            const modal = document.getElementById('modalExclusao');
            modal.style.display = 'none';
        });
    </script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/load-particles.js' %}"></script>
</div>
{% endblock %}