{% extends "main/base.html" %}
{% load static %}

{% block title %}Chamada {{ chamada.id }}{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items menu-center">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
            <a class="btn-inicio" href="{% url 'editar_chamada' id=chamada.id %}">Editar</a>
            <a class="btn-inicio" id="deleteModalBtn">Remover</a>
            <a class="btn-inicio" href="{% url 'associar_ativos_chamada_especifica' chamada_id=chamada.id %}">Associar</a>
        </div>
    </div>

    <div class="codigo"><h1 style="margin: 16px 0px">Código: {{ chamada.id }}</h1></div>
    <div class="item"><b>Sala Origem:</b> {{ chamada.sala_origem }}</div>
    <div class="item"><b>Problema:</b> {{ chamada.descricao_problema }}</div>
    <div class="item"><b>Categoria Problema:</b> {{ chamada.categoria_problema }}</div>
    <div class="item"><b>Data Abertura:</b> {{ chamada.data_abertura|date:"d-m-Y H:m" }}</div>
    <div class="item {{ chamada.status }}"><b>Status:</b> {{ chamada.status }}</div>
    <div class="item {{ chamada.prioridade }}"><b>Prioridade:</b> {{ chamada.prioridade }}</div>
    <div class="item"><b>Responsável:</b> {{ chamada.responsavel }}</div>

    {% if chamada.data_resolucao is not None %}
        <div class="item"><b>Data Resolução:</b> R$ {{ chamada.data_resolucao }}</div>
    {% else %}
    {% endif %}

    {% if chamada.custo_reparo is not None %}
        <div class="item"><b>Custo Reparo:</b> R$ {{ chamada.custo_reparo }}</div>
    {% else %}
        <div class="item"><b>Necessário analisar o custo de reparo.</b></div>
    {% endif %}

    <h2 class="subtitle" style="margin: 14px 0px">Equipamento</h2>

    <div class="item"><b>Código:</b> <a href="{% url 'ativo_detail' id=chamada.ativo_ti.id %}">{{ chamada.ativo_ti.codigo }}</a></div>
    <div class="item"><b>Nome:</b> {{ chamada.ativo_ti.nome }}</div>
    <div class="item"><b>Tipo:</b> {{ chamada.ativo_ti.tipo }}</div>
    <div class="item"><b>Marca:</b> {{ chamada.ativo_ti.marca }}</div>
    <div class="item {{ chamada.ativo_ti.situacao }}"><b>Situação:</b> {{ chamada.ativo_ti.situacao }}</div>

    {% if chamada.ativo_ti.data_aquisicao is not None %}
        <div class="item"><b>Data Aquisição:</b> {{ chamada.ativo_ti.data_aquisicao }}</div>
    {% else %}
    {% endif %}

    {% if chamada.ativo_ti.valor_estimado is not None %}
        <div class="item"><b>Valor Estimado:</b> R$ {{ chamada.ativo_ti.valor_estimado }}</div>
    {% else %}
    {% endif %}

    {% if total_ativos_associados > 0 %}
        <h2 class="subtitle" style="margin: 14px 0px">Equipamentos Associados ({{ total_ativos_associados }})</h2>
    {% else %}
    {% endif %}

    {% for ativo in ativos_associados %}
        <hr>
        <a class="btn-inicio" href="{% url 'editar_ativo' codigo=ativo.codigo %}">Editar</a>
        <a type="button" class="btn-inicio" href="{% url 'desassociar_ativo_chamada' chamada_id=chamada.id ativo_id=ativo.id %}">Remover Associação</a>
        <div class="item" style="margin-top: 15px;"><b>Código:</b> <a href="{% url 'ativo_detail' id=ativo.id %}">{{ ativo.codigo }}</a></div>
        <div class="item"><b>Nome:</b> {{ ativo.nome }}</div>
        <div class="item"><b>Tipo:</b> {{ ativo.tipo }}</div>
        <div class="item"><b>Marca:</b> {{ ativo.marca }}</div>
        <div class="item {{ ativo.situacao }}"><b>Situação:</b> {{ ativo.situacao }}</div>

        {% if ativo.data_aquisicao is not None %}
            <div class="item"><b>Data Aquisição:</b> {{ ativo.data_aquisicao }}</div>
        {% else %}
        {% endif %}

        {% if ativo.valor_estimado is not None %}
            <div class="item"><b>Valor Estimado:</b> R$ {{ ativo.valor_estimado }}</div>
        {% else %}
        {% endif %}
    {% endfor %}

    {% if total_ativos_associados > 5 %}
        <div class="pagination">
            {% if ativos_associados.has_previous %}
                <a href="?page_ativos=1">&laquo; Primeira</a>
                <a href="?page_ativos={{ ativos_associados.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in ativos_associados.paginator.page_range %}
                {% if ativos_associados.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page_ativos={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if ativos_associados.has_next %}
                <a href="?page_ativos={{ ativos_associados.next_page_number }}">Próxima</a>
                <a href="?page_ativos={{ ativos_associados.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
    {% else %}
    {% endif %}

    {% if total_comentarios > 0 %}
        <h2 class="subtitle" style="margin: 14px 0px">Comentários ({{ total_comentarios }})</h2>
    {% else %}
    {% endif %}

    {% for comentario in comentarios %}
        <hr>
        <a type="button" class="btn-inicio" href="{% url 'editar_comentario' id=comentario.id chamada_id=chamada.id %}">Editar</a>
        <a type="button" id="excluir-comentario" class="btn-inicio" data-chamada-id="{{ chamada.id }}" data-comentario-id="{{ comentario.id }}">
            Excluir
        </a>
        <div class="item" style="margin-top: 15px;"><b>Comentário:</b> {{ comentario.texto }}</div>
        <div class="item"><b>Data Publicação:</b> {{ comentario.data_publicacao|date:"d-m-Y H:m" }}</div>
        <div class="item"><b>Responsável:</b> {{ comentario.autor }}</div>
    {% endfor %}

    {% if total_comentarios > 5 %}
        <div class="pagination">
            {% if comentarios.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ comentarios.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in comentarios.paginator.page_range %}
                {% if comentarios.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if comentarios.has_next %}
                <a href="?page={{ comentarios.next_page_number }}">Próxima</a>
                <a href="?page={{ comentarios.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </div>
    {% else %}
    {% endif %}

    <h2 class="subtitle" style="margin: 14px 0px">Adicionar Comentário</h2>
        <form method="post" action="{% url 'adicionar_comentario' id=chamada.id %}" onsubmit="return validarComentario()">
    {% csrf_token %}
        <textarea name="texto" id="id_texto" placeholder="Digite seu comentário"></textarea>
        <p id="erro_comentario" style="color: red; margin: 5px 5px"></p>
        <button class="btn-login" type="submit">Enviar</button>
    </form>

    <div id="myDeleteModal" class="modal">
      <div class="modal-content" style="width: 60%">
        <span class="close2">&times;</span>
        <h3 class="subtitle" style="margin-top: 15px; margin-bottom: 30px">Quer mesmo remover o Chamado {{ chamada.id }} ?</h3>
        <a class="btn-login" href="{% url 'remover_chamada' id=chamada.id %}">Remover</a>
        <p></p>
      </div>
    </div>

    <div id="modalExclusao" class="modal">
        <div class="modal-content">
            <span class="close3">&times;</span>
            <h3 class="subtitle" style="margin-top: 15px; margin-bottom: 30px">Quer mesmo remover o comentário ?</h3>
            <a class="btn-login" id="confirmarExclusao">Remover</a>
            <p></p>
        </div>
    </div>

    <script>
        function validarComentario() {
            var textoComentario = document.getElementById('id_texto').value.trim();
            var erroComentario = document.getElementById('erro_comentario');

            if (textoComentario === '') {
                erroComentario.innerHTML = 'Por favor, digite um comentário antes de enviar.';
                return false;  // Impede o envio do formulário se o campo estiver vazio
            } else {
                erroComentario.innerHTML = '';  // Limpa a mensagem de erro se o campo estiver preenchido
            }

            return true;  // Permite o envio do formulário se o campo não estiver vazio
        }

        document.getElementById("deleteModalBtn").onclick = function() {
          document.getElementById("myDeleteModal").style.display = "block";
        }

        document.getElementsByClassName("close2")[0].onclick = function() {
          document.getElementById("myDeleteModal").style.display = "none";
        }

        window.onclick = function(event) {
          if (event.target == document.getElementById("myDeleteModal")) {
            document.getElementById("myDeleteModal").style.display = "none";
          }
        }

        // Adiciona um event listener para o botão de exclusão
        document.querySelectorAll('#excluir-comentario').forEach(button => {
            button.addEventListener('click', function() {
                const chamadaId = this.getAttribute('data-chamada-id');
                const comentarioId = this.getAttribute('data-comentario-id');
                exibirModal(chamadaId, comentarioId);
            });
        });

        // Função para exibir o modal de exclusão
        function exibirModal(chamadaId, comentarioId) {
            const modal = document.getElementById('modalExclusao');
            // Exiba o modal e passe os IDs como atributos de dados
            modal.style.display = 'block';
            modal.setAttribute('data-chamada-id', chamadaId);
            modal.setAttribute('data-comentario-id', comentarioId);
        }

        // Event listener para o botão de confirmar exclusão
        document.getElementById('confirmarExclusao').addEventListener('click', function() {
            const chamadaId = document.getElementById('modalExclusao').getAttribute('data-chamada-id');
            const comentarioId = document.getElementById('modalExclusao').getAttribute('data-comentario-id');
            // Redirecione para a view de exclusão com os IDs necessários
            window.location.href = `/remover_comentario/${comentarioId}/${chamadaId}`;
        });

        window.addEventListener('click', function(event) {
            const modal = document.getElementById('modalExclusao');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        document.querySelector('.close3').addEventListener('click', function() {
            const modal = document.getElementById('modalExclusao');
            modal.style.display = 'none';
        });
    </script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/load-particles.js' %}"></script>
</div>
{% endblock %}