{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ ativo.nome }}{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
            <a type="button" id="excluir-manutencao" class="btn-inicio" data-ativo-codigo="{{ codigo }}" data-manutencao-id="{{ manutencao.id }}">
                Remover
            </a>
        </div>
    </div>

    <div class="codigo">
        <h1>Editar Informações de Manutenção</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in non_field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <button class="btn-login" type="submit">Alterar</button>
    </form>

    <div id="modalExclusao" class="modal">
        <div class="modal-content">
            <span class="close3">&times;</span>
            <h3 class="subtitle" style="margin-top: 15px; margin-bottom: 30px">Quer mesmo remover a manutenção ?</h3>
            <a class="btn-login" id="confirmarExclusao">Remover</a>
            <p></p>
        </div>
    </div>

    <script>
        $(function() {
            $("#id_data_inicio").datepicker({dateFormat: 'dd/mm/yy'});
            $("#id_data_conclusao").datepicker({dateFormat: 'dd/mm/yy'});
        });

        document.querySelectorAll('#excluir-manutencao').forEach(button => {
            button.addEventListener('click', function() {
                const ativoCodigo = this.getAttribute('data-ativo-codigo');
                const manutencaoId = this.getAttribute('data-manutencao-id');
                exibirModal(ativoCodigo, manutencaoId);
            });
        });

        // Função para exibir o modal de exclusão
        function exibirModal(ativoCodigo, manutencaoId) {
            const modal = document.getElementById('modalExclusao');
            // Exiba o modal e passe os IDs como atributos de dados
            modal.style.display = 'block';
            modal.setAttribute('data-ativo-codigo', ativoCodigo);
            modal.setAttribute('data-manutencao-id', manutencaoId);
        }

        // Event listener para o botão de confirmar exclusão
        document.getElementById('confirmarExclusao').addEventListener('click', function() {
            const ativoCodigo = document.getElementById('modalExclusao').getAttribute('data-ativo-codigo');
            const manutencaoId = document.getElementById('modalExclusao').getAttribute('data-manutencao-id');
            // Redirecione para a view de exclusão com os IDs necessários
            window.location.href = `/remover_manutencao/${manutencaoId}/${ativoCodigo}`;
        });

        window.addEventListener('click', function(event) {
            const modal = document.getElementById('modalExclusao');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });

        document.querySelector('.close3').addEventListener('click', function() {
            const modal = document.getElementById('modalExclusao');
            modal.style.display = 'none';
        });
    </script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/load-particles.js' %}"></script>
</div>
{% endblock %}