{% extends "main/base.html" %}
{% load static %}

{% block title %}Editar Chamada{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="menu-container-details">
        <div class="menu-items">
            <a class="btn-inicio" href="{% url 'index' %}">Início</a>
            <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
            <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
        </div>
    </div>

    {% if chamada_form.errors %}
        <ul class="error">
            {% for field in chamada_form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <div class="codigo">
        <h1>Editar Informações de Chamada</h1>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Alterar</button>
    </form>

    <script>
        $(function() {
            $("#id_data_aquisicao").datepicker({dateFormat: 'dd/mm/yy'});
        });
    </script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/load-particles.js' %}"></script>
</div>
{% endblock %}