{% extends "main/base.html" %}
{% load static %}

{% block title %}Exportar Dados{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="ativo-item">
    <a class="btn-inicio" href="{% url 'index' %}">Início</a>
    <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
    <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
    <h1 class="title" style="margin-top: 15px; margin-bottom: 20px">Exportar Dados</h1>
    <a class="btn-export" href="{% url 'admin:main_ativoti_export' %}">Exportar Equipamentos</a>
    <a class="btn-export" style="background: #f79ea1" href="{% url 'admin:main_chamada_export' %}">Exportar Chamadas</a>
    <a class="btn-export" style="background: #c7aefc" href="{% url 'admin:main_manutencaoativo_export' %}">Exportar Manutenções</a>
    <a class="btn-export" style="background: #fcdfae" href="{% url 'admin:main_comentario_export' %}">Exportar Comentários</a>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}