{% extends "main/base.html" %}
{% load static %}

{% block title %}Tecnologia da Informação{% endblock %}

{% block content %}
    <div id="particles-js"></div>
    <div class="content">
        <img class="main-image" src="{% static 'images/logo.png' %}">
        <img style="width:130px" src="{% static 'images/icon.png' %}">
        <h1>Tecnologia da Informação</h1>
        <a href="{% url 'listar_chamadas' %}">Chamadas</a>  
        <a href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a href="{% url 'admin:index' %}">Administrativo</a>
        <a href="{% url 'business_intelligence' %}">Business Intelligence</a>
        <a href="{% url 'importar_dados' %}">Importar Dados</a>
        <a href="{% url 'exportar_dados' %}">Exportar Dados</a>
        <a href="{% url 'logout' %}">Logout</a>        
    </div>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}