{% extends "main/base.html" %}
{% load static %}

{% block title %}Lista de Equipamentos{% endblock %}

{% block content %}
<h1 class="title" style="margin-bottom: 5px">Lista de Equipamentos TI ({{ total_ativos }}) </h1>
<h2 class="subtitle">Valor Total: R$ {{ total_em_ativos }}</h2>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_chamadas' %}">Chamadas</a>
        <a class="btn-inicio" href="{% url 'exportar_qrcodes_pdf' %}">Exportar QR Codes</a>
        <a class="btn-inicio" id="openModalBtn">Cadastrar Equipamento</a>
        <a class="btn-inicio" href="{% url 'cadastrar_manutencao_ativo' %}">Cadastrar Manutenções</a>
        <a class="btn-inicio" href="{% url 'associar_chamadas_geral_ativo' %}">Associar Chamadas</a>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" style="margin-top: 22px;" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if form.errors %}
    <ul class="error">
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<!-- Tabela de Equipamentos TI -->
<table id="tabelaAtivos">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Número de Série</th>
            <th>Data de Aquisição</th>
            <th>Situação</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
    {% for ativo in ativos %}
        <tr>
            <td><a href="{% url 'ativo_detail' id=ativo.id %}">{{ ativo.codigo }}</a></td>
            <td><a href="{% url 'ativo_detail' id=ativo.id %}">{{ ativo.nome }}</a></td>
            <td>{{ ativo.tipo }}</td>
            <td>{{ ativo.marca }}</td>
            <td>{{ ativo.numero_serie }}</td>
            <td>{{ ativo.data_aquisicao|date:"d-m-Y" }}</td>
            <td class="{{ ativo.situacao }}">{{ ativo.situacao }}</td>
            <td>{% if ativo.valor_estimado is not None %} R$ {{ ativo.valor_estimado }} {% else %} Não informado {% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="myModal" class="modal" style="text-align: center;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="subtitle" style="margin-top: 10px; margin-bottom: 0px; font-size: 2rem;">Novo Equipamento</h2>
    <form id="formAdicionarManutencao" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Adicionar</button>
    </form>
  </div>
</div>

<script>
    $(function() {
        $("#id_data_aquisicao").datepicker({dateFormat: 'dd/mm/yy'});
    });

    $(document).ready(function() {
        $('#tabelaAtivos').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
            },
        });
    });

    document.getElementById("openModalBtn").onclick = function() {
      document.getElementById("myModal").style.display = "block";
    }

    document.getElementsByClassName("close")[0].onclick = function() {
      document.getElementById("myModal").style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == document.getElementById("myModal")) {
        document.getElementById("myModal").style.display = "none";
      }
    }
</script>
{% endblock %}