{% extends "main/base.html" %}
{% load static %}

{% block title %}Lista de Chamadas{% endblock %}

{% block content %}

<h1 class="title" style="margin-bottom: 5px">Lista de Chamadas ({{ total_chamadas }})</h1>
<h2 class="subtitle">Reparo Total: R$ {{ total_reparo }}</h2>

<div class="menu-container">
    <div class="menu-items">
        <a class="btn-inicio" href="{% url 'index' %}">Início</a>
        <a class="btn-inicio" href="{% url 'listar_ativos' %}">Equipamentos</a>
        <a class="btn-inicio" id="openModalBtn">Abrir Chamado</a>
        <a class="btn-inicio" href="{% url 'associar_ativos_chamada' %}">Associar Equipamentos</a>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" style="margin-top: 22px;" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if chamada_form2.errors %}
    <ul class="error">
        {% for field in chamada_form2 %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<!-- Tabela de Chamadas -->
<table id="tabelaChamadas">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sala</th>
            <th>Equipamento</th>
            <th>Problema</th>
            <th>Categoria</th>
            <th>Data Abertura</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Reparo</th>
        </tr>
    </thead>

    <tbody>
    {% for chamada in chamadas %}
        <tr>
            <td><a href="{% url 'chamada_detail' id=chamada.id %}">{{ chamada.id }}</a></td>
            <td>{{ chamada.sala_origem }}</td>
            <td><a href="{% url 'ativo_detail' id=chamada.ativo_ti.id %}">{{ chamada.ativo_ti }}</a></td>
            <td>{{ chamada.descricao_problema }}</td>
            <td>{{ chamada.categoria_problema }}</td>
            <td>{{ chamada.data_abertura|date:"d-m-Y H:m" }}</td>
            <td class="{{ chamada.prioridade }}">{{ chamada.prioridade }}</td>
            <td class="{{ chamada.status }}">{{ chamada.status }}</td>
            <td>
                {% if chamada.custo_reparo is not None %} 
                    R$ {{ chamada.custo_reparo }}
                {% else %} 
                    Não informado 
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="subtitle" style="margin-top: 15px; margin-bottom: 0px; font-size: 2rem;">Novo Chamado de TI</h2>
    <form id="formAdicionarManutencao" method="POST">
        {% csrf_token %}
        {{ chamada_form2.as_p }}
        <button class="btn-login" type="submit">Adicionar</button>
    </form>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#tabelaChamadas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json',
            },
        });
    });

    document.getElementById("openModalBtn").onclick = function() {
      document.getElementById("myModal").style.display = "block";
    }

    document.getElementsByClassName("close")[0].onclick = function() {
      document.getElementById("myModal").style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == document.getElementById("myModal")) {
        document.getElementById("myModal").style.display = "none";
      }
    }
</script>
{% endblock %}