{% extends "main/base.html" %}
{% load static %}

{% block title %}Login TI CEBRAC{% endblock %}

{% block content %}
<div id="particles-js"></div>
<div class="content">
    <img class="main-image" src="{% static 'images/logo.png' %}">
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-login" type="submit">Entrar</button>
    </form>
</div>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/load-particles.js' %}"></script>
{% endblock %}