@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #a9bad6;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    width: 90%;
    height: auto;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    border: 5px solid #273E74;
    background-color: #F2F2F2;
    width: 55%;
    padding: 20px;
}

.menu-container {
    display: flex;
    justify-content: flex-start;
}

.menu-container-details {
    display: flex;
    justify-content: center;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.menu-center {
    justify-content: center;
}

.btn-inicio {
    margin: 5px;
}

.ativo-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #F2F2F2;
    border: 5px solid #273E74;
    width: 55%;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.content > h1 {
    margin-top: 7px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #273E74;
    font-size: 3rem;
}

.codigo > h1 {
    font-family: 'Orbitron', sans-serif;
    color: #273E74;
    font-size: 2.5rem;
    margin-top: 18px;
    margin-bottom: 6px;
}

.ativo-imagem > img {
    width: 300px;
    margin: 7px 0px;
}

.title {
    margin-top: 0px;
    font-family: 'Orbitron', sans-serif;
    color: #273E74;
}

.subtitle {
    margin-top: 2.5px;
    font-family: 'Orbitron', sans-serif;
    color: #273E74;  
}

.item {
    margin-top: 5px;
    border: 1px solid #273E74;
    background-color: white;
    padding: 10px;
}

.content > a {
    background-color: #5c6d82;
    color: white;
    display: inline-block;
    padding: 13px 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.3rem;
    border-right: 5px solid #273E74;
    border-left: 5px solid #273E74;
}

.content > a:hover {
    background-color: #273E74;
}

.content > a {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #273E74;
    text-align: left;
    padding: 8px;
    background: white;
    color: #273E74;
    font-size: 1.1rem;
}

th {
    background-color: #f2f2f2;
}

input, select {
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

.select2 {
    width: 85% !important;
    margin: 0px;
    font-size: 1.25rem;
    color: #273E74;
    border: 2px solid #273E74;
    border-radius: 5px;
}

#tabelaChamadas_length > label > select, 
#tabelaAtivos_length > label > select, {
    background-color: #f2f2f2 !important;
    color: #273E74 !important;
    border: 2px solid #273E74 !important;
    padding: 3px 5px !important; 
}

.dataTables_wrapper .dataTables_length select {
    background-color: #f2f2f2 !important;
    color: #273E74 !important;
    border: 2px solid #273E74 !important;
    padding: 3px 5px !important;
}

#tabelaManutencao_length > label > select {
    background-color: white !important;
    color: #273E74 !important;
    border: 2px solid #273E74 !important;
    padding: 3px 5px !important; 
}

#tabelaChamadas_paginate, 
#tabelaAtivos_paginate,
#tabelaManutencao_paginate {
    margin-top: 10px !important;
}

#tabelaChamadas_filter > label > input[type=search], 
#tabelaAtivos_filter > label > input[type=search],
#tabelaManutencao_filter > label > input[type=search]  {
    padding: 7px 10px !important;
    margin: 0px !important;
    margin-left: 12px !important;
    font-size: 1.2rem !important;
    background-color: white !important;
    color: #273E74 !important;
    border: 2px solid #273E74 !important;    
}

label {
    color: #273E74;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;   
}

hr {
    border: 2px solid #273E74;
}

.btn-filtrar {
    background-color: #8affd2;
    color: #273E74;
    border: 2px solid #273E74; 
    font-weight: bold;
}

.btn-filtrar:hover, .btn-limpar:hover, .btn-inicio:hover {
    cursor: pointer;
    opacity: 0.75;
}

.btn-limpar {
    background-color: #8cff8a;
    color: #273E74;
    border: 2px solid #273E74; 
    font-weight: bold;
}

.btn-login {
    background-color: #5c6d82;
    color: white;
    border: 5px solid #273E74; 
    font-weight: bold; 
    padding: 10px;
    text-decoration: none;
    font-size: 1.35rem;
    width: 30%;
    margin-top: 10px;
}

.nonfield > li {
    list-style: none;
    color: #273E74;
    text-align: center;
}

form > ul {
    padding: 0px;
}

.btn-login:hover {
    cursor: pointer;
    background-color: #273E74;
}

form > p > label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

form > p > input {
    width: 80%; 
    padding: 12px 20px;
    margin: 0px;
    font-size: 1.5rem;
    color: #273E74;
    border: 2px solid #273E74;
}

textarea {
    width: 80%; 
    padding: 12px 20px;
    margin: 0px;
    font-size: 1.25rem;
    color: #273E74;
    border: 2px solid #273E74;
    resize: none;
    height: 120px;   
}

form > p > input[type=text]:focus,
form > p > input[type=password]:focus,
textarea:focus {
    border: 5px solid #273E74;
}

.btn-inicio {
    background-color: #9dfcf1;
    color: #273E74;
    border: 2px solid #273E74; 
    font-weight: bold; 
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.015rem;
}

.btn-export {
    background-color: #ceeb7f;
    color: #273E74;
    border: 2px solid #273E74; 
    font-weight: bold; 
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-export:hover {
    opacity: 0.8;
}

.dataTables_paginate > a, .dataTables_paginate > span > a {
    text-decoration: none !important;
    border: 2px solid #273E74 !important;
    padding: 5px 8px !important;
    color: #273E74 !important;
    background-color: #f2f2f2 !important;
    font-size: 1.2rem !important;
    margin-right: 4px !important;
}

.dataTables_paginate > a:hover, .dataTables_paginate > span > a:hover {
    cursor: pointer;
    background: #273E74 !important;
    color: white !important;
}

.pagination {
    margin-top: 16px;
}

.pagination > a {
    text-decoration: none;
    border: 2px solid #273E74;
    padding: 5px 8px;
    color: #273E74;
    background-color: white;
    font-size: 1.2rem;
    margin-right: 4px;
}

.pagination > .current {
    background-color: #273E74;
    color: white;
}

.pagination > a:hover {
    background-color: #273E74;
    color: white;
}

.dataTables_length {
    margin-top: 20px;
    margin-bottom: 5px;   
}

.tabelaChamadas_filter,
.tabelaAtivos_filter {
    float: none !important;
}

#tabelaChamadas_info,
#tabelaAtivos_info,
#tabelaManutencao_info {
    color: #273E74;
    font-weight: bold;
    font-size: 1.1rem;
}

#tabelaManutencao_wrapper {
    margin-top: 15px;
}

.current {
    text-decoration: none;
    border: 2px solid #273E74;
    padding: 5px 8px;
    color: #273E74;
    background-color: white;
    font-size: 1.2rem;
    margin-right: 4px;
}

#situacaoChart, 
#prioridadeChart, 
#statusChart, 
#chamadasPorEquipamentoChart,
#manutencoesPorEquipamentoChart,
#associacaoEquipamentoChamadaChart,
#equipamentosPorChamadaChart {
    background-color: white;
    padding: 20px;
    border: 2px solid #273E74;
    margin-top: 20px;
}

.graphic {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1.5rem;
    width: 450px;
}

.Alta, .Aberta, .Inutilizável {
    background-color: #ffa6a9;
}

.Inutilizável-color {
    color: #bd1926;
}

.Média, .Atribuida, .Danificado {
    background-color: #fff8a6;
}

.Danificado-color {
    color: #a67f00;
}

.Baixa, .Resolvida, .Funcionando {
    background-color: #a7ffa6;
}

.Funcionando-color {
    color: #137d00;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

#tabelaAtivos_paginate > span > a.paginate_button.current,
#tabelaChamadas_paginate > span > a.paginate_button.current,
#tabelaManutencao_paginate > span > a.paginate_button.current {
    color: white !important;
    background-color: #273E74 !important;
}

#tabelaAtivos_previous.disabled, #tabelaAtivos_next.disabled,
#tabelaChamadas_previous.disabled, #tabelaChamadas_next.disabled,
#tabelaManutencao_previous.disabled, #tabelaManutencao_next.disabled {
    cursor: not-allowed !important;
}

#tabelaAtivos_previous.disabled:hover, #tabelaAtivos_next.disabled:hover,
#tabelaChamadas_previous.disabled:hover, #tabelaChamadas_next.disabled:hover,
#tabelaManutencao_previous.disabled:hover, #tabelaManutencao_next.disabled:hover {
    color: white !important;
}

#id_responsavel,
#id_sala_origem,
#id_status,
#id_prioridade,
#id_categoria_problema,
#id_tipo,
#id_marca,
#id_ativo_ti,
#id_situacao,
#id_chamada,
#id_ativos {
    width: 60%;
    margin-top: 5px;
    padding: 12px 20px;
    margin: 0px;
    font-size: 1.5rem;
    color: #273E74;
    border: 2px solid #273E74;
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* Centralizar horizontalmente */
    margin-top: 3%; /* Ajuste para centralizar verticalmente */
    margin-bottom: 3%;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    border: 4px solid #273E74;
    text-align: center;
}

.close, .close2, .close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.error {
    list-style: none;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-left: 0px;
    color: #273E74;
}

.errorlist {
    color: #273E74;
    list-style: none;
    margin-top: 7px;
    margin-bottom: 7px; 
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

@media screen and (max-width: 1450px) {
    .ativo-item {
        width: 70%;
    }
}

@media screen and (max-width: 1250px) {
    .content {
        width: 75%;
    }
    .ativo-item {
        width: 87%;
    }
}

@media screen and (max-width: 900px) {
    #tabelaChamadas_filter > label > input[type=search], 
    #tabelaAtivos_filter > label > input[type=search],
    #tabelaManutencao_filter > label > input[type=search]  {
        margin-top: 20px !important;
        margin-bottom: 15px !important;
        width: 70%; 
    }
}

@media screen and (max-width: 975px) {
    #tabelaChamadas_filter > label > input[type=search], 
    #tabelaAtivos_filter > label > input[type=search],
    #tabelaManutencao_filter > label > input[type=search]  {
        margin-top: 20px !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 800px) {
    .main-image {
        width: 95%;
        height: auto;
    }
    .content {
        width: 80%;
    }
    .ativo-item {
        width: 90%;
    }
    .btn-login {
        width: 50%;
    }
}

@media screen and (max-width: 772px) {
    #tabelaChamadas_filter > label > input[type=search], 
    #tabelaAtivos_filter > label > input[type=search],
    #tabelaManutencao_filter > label > input[type=search]  {
        margin-top: 5px !important;
        margin-bottom: 20px !important;
        width: 70%; 
    }
}

@media screen and (max-width: 580px) {
    #tabelaChamadas_filter > label > input[type=search], 
    #tabelaAtivos_filter > label > input[type=search],
    #tabelaManutencao_filter > label > input[type=search]  {
        margin-top: 10px !important;
        margin-bottom: 17px !important;
        width: 90%; 
    }
}

@media screen and (max-width: 425px) {
    .content {
        width: 80%;
    }
    .ativo-item {
        width: 92%;
    }
    .content > h1 {
        font-size: 2rem;
    }
    .btn-login {
        width: 70%;
    }
    #tabelaChamadas_filter > label > input[type=search], 
    #tabelaAtivos_filter > label > input[type=search],
    #tabelaManutencao_filter > label > input[type=search]  {
        margin-bottom: 16px !important;
    }
    #prioridadeChart {
        height: 50% !important;
    }
    .ativo-imagem > img {
        width: 200px;
        margin: 7px 0px;
    }
    .modal-content {
        width: 90%;
    }
}